.container{
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.card{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.number{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  background-color: rgb(69, 100, 240);
  color: white;
  font-weight: bold;
}