input{
  display: block;
  font-size: 15px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  width: 350px;
  margin-bottom: 8px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus{
  outline: none;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 40px;
}

button{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}
button:hover{
  opacity: 0.8;
}
button:active{
  opacity: 0.7;
}

.request-button{
  background-color: black;
  color: white;
  margin-right: 15px;
}

.schedule-button{
  background-color: rgb(240, 240, 240);
  color: black;

}