body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.displayCalculation{
  color: white;
  font-size: 29px;
}
button{
  background-color: rgb(85, 85, 85);
  border: none;
  font-size: 20px;
  color: white;
  padding: 9px 16px;
  border-radius: 100px;
  margin: 3px;
}
.operationButton{
  background-color: rgb(255, 170, 43);
  text-align: center;
  vertical-align: middle;
}